














/*

.reg_cust {
    display: flex;
    justify-content: space-between;
    list-style: none;

}
/*/





  /*

  .icon-envelope{
      fill: var(--grey-color);
      margin-left: 10px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-envelope :focus, .icon-envelope:hover {
      fill: var(--blue-color);

    
  }

  .icon-smartphone-1 {
      fill: var(--grey-color);
      margin-left: 10px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-smartphone-1 :focus, .icon-smartphone-1 :hover {
      fill: var(--blue-color);

    
  }

 /**/


/*
  .icons_team_stuff {
    color: var(--grey-color);
      height: 10px;
      width: 10px;
  }


/*/





/*
.formfield{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*/



/*
       .form-word {
           padding-bottom: 4px;
           font-family: 'Roboto';
           font-style: normal;
           font-weight: 400;
           font-size: 12px;
           line-height: 1.2;
           letter-spacing: 0.01em;
       }

/*/
    













 

       
    












































