

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);

    font-size: 14px;
    letter-spacing: 0.02em;
    font-style: normal;
    
    

}

.stuffsvg{
 height: 70px;
 width: 70px;

}

.teamsvg {
    width: 20px;
    height: 20px;
    
    fill: currentColor;
    
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
    color: var(--grey-color);

    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}

.visually-hidden {

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

  :root {
    --blue-color: #2196F3;
    --grey-color: #757575;
    --white-color: #ffffff;
    --darkgrey-color: #212121;
    --black-color: black;
    --grey_color_s: #2F303A;
    --light-grey_color: #F5F4FA;
    --slight-grey_color: #F6F6F6;
    --h_b_color: #F5F4FA;
    --gradient_grey-color: rgba(47, 48, 58, 0.4);
    --svg-grey: rgba(175, 177, 184, 1);
    --contacts-grey: rgba(172, 172, 176, 1);
    --footer-bg: #44454E;
    --ghost-bc: rgba(33, 150, 243, 0.9);
    --ghost-grey:rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --sub-color: (255, 255, 255, 0.3);
  }



.container-header {
    display: flex;
    align-items: center;

}



.main_container {
    display: flex;
    text-align: center;
    height: 80px;
    border-bottom: 1px solid var(--h_b_color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.head_line  {
    
    display: flex;
    
    
    
}
.links_header {
    
    display: flex;
    margin-left: 93px;
    
    
    

    
}

.contacts_section_header {
    display: flex;
    margin-left: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: var(--white-color);

}

.web-word {
    color: var(--blue-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 2;
    letter-spacing: 0.03em;
    margin-top: auto;
    margin-bottom: auto;

    
    
}

.word_studio {
    color: var(--black-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em
}

.nav:hover,.nav:focus {
    
    color: var(--blue-color);
    
}

.current {
    color: var(--blue-color);
    position: relative;
    
}

.current-sm {
    color: var(--blue-color);
    position: relative;
}

.current-sm::after {
    content: '';
    width: 100%;
    position: absolute;
    background-color: var(--blue-color);
    left: 0;
    bottom: 6px;
    display: block;
    height: 1px;
}


.current::after {
    content: '';
    width: 100%;
    border-radius: 2px;
    position: absolute;
    background-color: var(--blue-color);
    left: 0;
    bottom: -32px;
    display: block;
    height: 4px;
}

.current-button {
    color: var(--white-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: var(--blue-color);
    border: 1px ;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    
    
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    
}

.nav {
    color: var(--black-color);
    
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}



.nav + .nav {
margin-left: 50px;
}
a{text-decoration: none;}
.contacts_section {
    color: var(--grey-color);
    display: flex;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Roboto';
    
    
    
    
   
}



.contacts_section + .contacts_section {
    margin-left: 50px;
}



.contacts_section:hover,.contacts_section:focus {
    color: var(--blue-color);
    
}



.maintext {
    color: var(--white-color);
    

    

    font-size: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.7;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin:  0 auto;
    padding: auto;
    
    
    
    
    

}

.overlay {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
        to top left,
        var(--gradient_grey-color),
        var(--gradient_grey-color)),url(../images/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;

}


.container{
    
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding: 0 15px;
    }

    .pcontainer {
        margin-right: auto;
        margin-left: auto;
        width: 1200px;
    }

.hero_btn {
    cursor: pointer;
    width: 200px;
    font-style: normal;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-family: Roboto;
    font-size: 16px;
    line-height: 2;
    color: var(--white-color);
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: var(--blue-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


 

    
   
}
.hero_btn :hover, .hero_btn :focus {
    color: var(--blue-color);
    
}
.shapka {
    overflow: hidden;
    list-style: none;
}

.mainbar {
    background-color: var(--grey_color_s);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}




.pros_text {
display: flex;
list-style: none;
margin: -15px;


}

.list-item_pros{
    margin: 15px;
}

.maintext_first {
    color: var(--grey-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    width: 270px;
    text-align: left;
}

.capitaltext_pros{
    text-align: left;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.icon-list{
    background-color: var(--h_b_color);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    


}



.mainpool{
    padding-top: 0;
}



.mainpool_text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
   
}

.clientstext {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
   
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.icons-clients{
    display: flex;
    margin: -15px;
    text-align: center;
    justify-content: center;
}

.clienticon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}



.contactsicon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    
}
.contactsicon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    
}

.contactsicon-envelope :hover .contactsicon-envelope :focus {
    fill: var(--blue-color);
    color: var(--blue-color);
    
}

.contactsicon-phone :hover .contactsicon-envelope :focus {
    fill: var(--blue-color);
    color: var(--blue-color);
    
}





.main_pool {
    padding-bottom: 94px;
}

.pooltext{
    position: relative;
}

.p-pool {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--ghost-grey);
    width: 100%;
    height: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.imgstuff {
    display: flex;
    margin: -15px;
   
}
.stuffimg {
    margin: 15px;
}

.our_team {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}
.capitaltext_pros-snd {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    }

.team_stuff {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
  

}

.icons-ts {
    display: flex;
    justify-content: center;
    
}

.ts-icons {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.ats-icons {
    width: 100%;
    height: 100%;
    color: var(--svg-grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.ats-icons:hover,.ats-icons:focus {

    color: var(--white-color);
    background-color: var(--blue-color);
    
}




.team {
    background-color: var(--light-grey_color);
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.reg_cust {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.reg-clients{
    border: 1px solid var(--svg-grey);
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 170px;
    height: 92px;
    justify-content: center;
    color: var(--svg-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.reg-clients:hover, .reg-clients:focus {
    color: var(--blue-color);
    fill: var(--blue-color);
    border-color: var(--blue-color);
    
}

.clientssvg-class {
    margin: 15px;
    fill: var(--svg-grey);
}






.word_studiof {
    color: var(--white-color);
    font-size: 26px;
    line-height: 1.2;
    
}

.address {
    color: var(--white-color);
    text-decoration: none;
    list-style: none;
 
    
    
   
}

.location {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.contacts_section_footer {
 
    color: var(--contacts-grey);
    display: flex;
    text-decoration: none;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.contacts_section_footer:hover,.contacts_section_footer:focus {
    color: var(--blue-color);
    
}


.connect {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.teamsvg-f {
    fill: var(--white-color);
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;

}

.afooter-icons {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--footer-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {

    align-items: baseline;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-top: 20px;
}

.footer-iconsdiv{
    margin-left: 70px;
}

.icons-footer{
    
    margin-right: -10px ;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}




.afooter-icons:hover, .afooter-icons:focus {
    background-color: var(--blue-color);
    
    
}

.portfolio_button {

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: var(--light-grey_color);
    border: 1px ;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--darkgrey-color);
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .buttons_portfolio{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;

}

.spacebf {
    margin-left: 8px;
}


.btn-pheadline{
    display: none;
}

.portfolio_button:hover, .portfolio_button:focus {
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    

}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    display: flex; 
    flex-wrap: wrap;
    flex-basis: 1200px;
   margin-left: -30px;
   margin-top: -34px;
    
    
    
}



.info_table {
    background-color: var(--grey_color_s);
    padding-top: 60px;
    padding-bottom: 60px;
 
 

}

.infotable {
    display: flex;
    align-items: baseline;
}



 .footer_list {
    list-style: none;
    padding-top: 20px;
 }


 .eclipse {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: rgba(255, 255, 255, 0.1);      
 }



 .icon {
    display: inline-block;
    justify-content: space-between;
    width: 32px;
    height: 32px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon-envelope{
      fill: var(--grey-color);
      margin-left: 10px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-envelope :focus, .icon-envelope:hover {
      fill: var(--blue-color);

    
  }

  .icon-smartphone-1 {
      fill: var(--grey-color);
      margin-left: 10px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-smartphone-1 :focus, .icon-smartphone-1 :hover {
      fill: var(--blue-color);

    
  }

  .join {
    color: var(--white-color);
      
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .icons_team_stuff {
    color: var(--grey-color);
      height: 10px;
      width: 10px;
  }

  .team_card {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .cards-p {
      padding-top: 20px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 20px;
      border: 1px solid var(--slight-grey_color);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border-top: none;
      border-left: none;
      border-right: none;

  }

  .cards-p:focus, .cards-p:hover {
    box-shadow: none;
    
  }

  .port-cards:focus, .port-cards:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .port-cards{
      display: block;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-top: 0;
      box-shadow: none;
      border: 1px solid var(--slight-grey_color);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  }






  .port-cards:focus .pp-cardshover,
  .port-cards:hover .pp-cardshover{
    transform: translateY(0);
  }



.portfolio_cards {
    display: flex;
    margin-top: 34px;
    margin-left: 30px;
    position: relative;
    height: 100%;
    
    
}




.pp-cardshover {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: var(--ghost-bc);
    color: var(--white-color);
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    
    
    
}

.portfolio-cards:hover, .pp-cardshover:hover {
    transform: translateY(0);
    
}

.cards-rel{
    position: relative;
    overflow: hidden;
    
}

.maintext_list {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2.5;
    letter-spacing: 0.06em;
    color: var(--black-color);
}

.maintext_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.maintext_pros {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    }





.cards-t {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.mailf{
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.phonef {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-color);
    position: fixed;
    top: 0;
    transition: opacity 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #999999; 
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.modalbtn {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
}

.formfield{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conditions {
    color: var(--blue-color);
    cursor: pointer;
    margin-left: 4px;

}

.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 12px;
    }

    .modal-input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        height: 40px;
        cursor: pointer;
        outline: none;
        padding-left: 42px;
        transition: border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1), fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);


    }



    .modal-input:hover, .modal-input:focus {
        border-color: var(--blue-color);
        fill: currentColor;
    }

    .modal-input:hover::placeholder, .modal-input:focus::placeholder{
        color: var(--blue-color);
    }

    .modal-label{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: var(--grey-color);
        margin-bottom: 4px;
        
       }


       .modal-div {
           margin-top: 4px;
       }

       .form-word {
           padding-bottom: 4px;
           font-family: 'Roboto';
           font-style: normal;
           font-weight: 400;
           font-size: 12px;
           line-height: 1.2;
           letter-spacing: 0.01em;
       }


    

    .modal-text{
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.01em;
        width: 100%;
        height: 120px;
        padding: 16px;
        resize: none;
        outline: none;
        transition: border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1), color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 10px;
    }

    .modal-text:hover, .modal-text:focus {
        border-color: var(--blue-color);
    }

    .modal-text:hover::placeholder, .modal-text:focus::placeholder{
        color: var(--blue-color);
    }

    .modal-text::placeholder, .modal-text::placeholder {
        color: var(--grey-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }










    .modal-icon {
        width: 18px;
        height: 18px;
        position: relative;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: currentColor;
        top: -20px;
        transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-icon:hover, .modal-icon:focus {
        fill: var(--blue-color);
    
        
    }

    .modal-input:hover ~ .modal-icon:hover,
    .modal-input:focus ~ .modal-icon:focus {
        fill: var(--blue-color);
    }



    .modal-input-wrap {
        position: relative;
    }

    .modal-check-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: var(--grey-color);
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        
    }

    .modal-check-text::before {
        width: 16px;
        height: 15px;
        border: 2px solid var(--black-color);
        border-radius: 2px;
        display: block;
        margin-right: 5px;
    }

    .modal-check{
        margin-right: 9px;
    }

    .modal-check:checked + .modal-check-text::before {
        background-image: url(../images/check.svg#icon-icon-check);
        border: none;
    }
       
    
        .wraper {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

.is-hidden {
    opacity: 0;
    pointer-events: none;
    
}

.close-icon{
    width: 18px;
    height: 18px;
    stroke-width: 0;
    fill: var(--black-color);
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, .close-icon:focus {
    fill: var(--blue-color) ;
}

.subscribe{
    margin-left: auto;
}

.sub-on {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.sub-email{
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    color: var(--white-color);
}

.sub-form {
    margin-top: 20px;
    display: flex;
}

.sub-email:hover, .sub-email:focus {
    border-color: var(--blue-color);
    
}

.sub-email:hover::placeholder, .sub-email:focus::placeholder {
    color: var(--blue-color);

 }

 .sub-email::placeholder, .sub-email::placeholder {
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.online-email

.sub-wrap {
    display: flex;
}

.sub-button {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    
    
    
    
}




.plane{
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;

}
































/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji' , 'Roboto', 'sans-serif' , 'Montserrat';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace , 'Roboto', 'sans-serif' , 'Montserrat'; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}