.features__pros_text {
display: flex;
list-style: none;
margin: -15px;


}

.features__list-item_pros{
    margin: 15px;
}

.features__icon-list{
    background-color: var(--h_b_color);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__stuffsvg{
    height: 70px;
    width: 70px;
   
   }

   .features__capitaltext_pros{
    text-align: left;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.features__maintext_first {
    color: var(--grey-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    width: 270px;
    text-align: left;
}