.main_pool {
    padding-bottom: 94px;
}

.main_pool__imgstuff {
    display: flex;
    margin: -15px;
   
}
.main_pool__stuffimg {
    margin: 15px;
}

.mainpool{
    padding-top: 0;
}

.mainpool__text {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
   
}

.main_pool__pooltext{
    position: relative;
}

.main_pool__p-pool {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--ghost-grey);
    width: 100%;
    height: 70px;
    justify-content: center;
    display: flex;
    align-items: center;
}