.our_team {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}

.team__team_stuff {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: -30px;
    margin-bottom: -30px;
@media screen and (min-width: 768px) {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
    
}
  

}

.team {
    @media screen and (min-width: 320px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 94px;

    }
}

.team__icons-ts {
    display: flex;
    justify-content: center;
    
}

.team__team_card {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-bottom: 30px;
    
    @media screen and (min-width: 768px) {

     width: calc(100%/2-30px)
 }
 @media screen and (min-width: 1200px) {
     width: calc(100%/4-30px)
 }
  }


  .team__cards-t {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.capitaltext_pros-snd {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    }

    .maintext_pros {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        }

        .ts-icons {
            width: 44px;
            height: 44px;
            margin-right: 10px;
        }

        .ats-icons {
            width: 100%;
            height: 100%;
            color: var(--svg-grey);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        }

        .ats-icons:hover,.ats-icons:focus {

            color: var(--white-color);
            background-color: var(--blue-color);
            
        }

        .teamsvg {
            width: 20px;
            height: 20px;
            
            fill: currentColor;
            
        }

        .team {
            background-color: var(--light-grey_color);


            
        }

        .team__img{
            
            width: 450px;
            @media screen and (min-width: 768px) {
                max-width: 354px;
                max-height: 374px;
                
                
            }
            @media screen and (min-width: 1200px) {
                max-width: 270px;
                max-height: 260px;
                
            }

        }