.info_table {
    background-color: var(--grey_color_s);

 

}

.infotable {
    @media screen and (min-width: 320px) {
        display: flex;
        align-items: baseline;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        

        
    }
    @media screen and (min-width: 768px) {
        display: flex;
        

        
    }
    @media screen and (min-width: 1200px) {

        text-align: left;
        justify-content: none;
        align-items: none;
        flex-wrap: nowrap;
        display: flex;
    align-items: baseline;
        
    }

}



.word_studiof {
    color: var(--white-color);
    font-size: 26px;
    line-height: 1.2;
    
}

.footer_list {
    
    padding-top: 20px;

 }

 .location {
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.address {
    color: var(--white-color);
    text-decoration: none;
    list-style: none;
 
    
    
   
}

.mailf{
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;

}

.phonef {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
}

.contacts_section_footer {
 
    color: var(--contacts-grey);
    
    text-decoration: none;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.contacts_section_footer:hover,.contacts_section_footer:focus {
    color: var(--blue-color);
    
}

.info_table__footer-iconsdiv{
   /*/ margin-left: 70px;/*/
   margin-top: 60px;
   @media screen and (min-width: 320px) {
    text-align: center;
    justify-content: center;
    align-items: center;
}
   @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-top: none;
    margin-bottom: 102px;
}
@media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: none;
    margin-bottom: 97px;
    text-align: center;
    justify-content: left;
    align-items: center;
}
   
}

.info_table__icons-footer{
    
    margin-right: -10px ;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}

.footer-icons {

    align-items: baseline;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-top: 20px;
}

.afooter-icons {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--footer-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.afooter-icons:hover, .afooter-icons:focus {
    background-color: var(--blue-color);
    
    
}

.info_table__subscribe{
    
    padding-top: 60px;
    @media screen and (min-width: 768px) {
       flex-wrap: wrap;

    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        padding-top: 20px;

    }

}

.sub-on {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);



}

.sub-form {

    /*/display: flex;/*/

    @media screen and (min-width: 320px) {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        text-align: center;
        justify-content: left;
        align-items: center;
        flex-direction: inherit;

        
    }
}

.sub-wrap {
display: flex;
margin-top: 20px;
}

.sub-email{
   width: 100%; 
    height: 50px;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    align-items: center;
    letter-spacing: 0.03em;
    padding-left: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    color: var(--white-color);
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) {
        width: 450px;  
    }
    @media screen and (min-width: 1200px) {
        width: 358px;


        
    }
}

.sub-email:hover, .sub-email:focus {
    border-color: var(--blue-color);
    
}

.sub-email:hover::placeholder, .sub-email:focus::placeholder {
    color: var(--blue-color);

 }

 .sub-email::placeholder, .sub-email::placeholder {
    color: var(--grey-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .sub-button {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: 20px;
    
    
    
    
}

.plane{
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 10px;

}

.join {
    color: var(--white-color);
      
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .teamsvg-f {
    fill: var(--white-color);
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;

}

.navigaton {
    @media screen and (min-width: 768px) {
        display: flex;


        
    }
}





























































































.clients {
    @media screen and (min-width: 320px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

    }
}

.clients__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
   
}

.clients__icons{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: -30px;
    @media screen and (min-width: 320px) {
        display: block;
        flex-wrap: wrap;
        
        
    }
    @media screen and (min-width: 480px) {
        display: flex;
        margin-left: -30px;
        flex-wrap: wrap;
        
    }
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: -30px;
        flex-wrap: wrap;
        
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: -30px;
        flex-wrap: nowrap;
        
        
    }

}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;

}

.clients__svg-class {
    margin-bottom: 30px;
    fill: var(--svg-grey);
    
    @media screen and (min-width: 320px) {

    }
    @media screen and (min-width: 480px) {
        margin-left: 30px;
        width: calc(100%/4-30px);
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        display: flex;
        margin-left: auto;

}
}

.clients__reg{
    border: 1px solid var(--svg-grey);
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    display: flex;
    cursor: pointer;
    width: 170px;
    height: 92px;
    justify-content: center;
    color: var(--svg-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.clients__reg:hover, .clients__reg:focus {
    color: var(--blue-color);
    fill: var(--blue-color);
    border-color: var(--blue-color);
    
}



