:root {
    --blue-color: #2196F3;
    --grey-color: #757575;
    --white-color: #ffffff;
    --darkgrey-color: #212121;
    --black-color: black;
    --grey_color_s: #2F303A;
    --light-grey_color: #F5F4FA;
    --slight-grey_color: #F6F6F6;
    --h_b_color: #F5F4FA;
    --gradient_grey-color: rgba(47, 48, 58, 0.4);
    --svg-grey: rgba(175, 177, 184, 1);
    --contacts-grey: rgba(172, 172, 176, 1);
    --footer-bg: #44454E;
    --ghost-bc: rgba(33, 150, 243, 0.9);
    --ghost-grey:rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --sub-color: (255, 255, 255, 0.3);
  }